        <div id="Bottom">
            <div class="content">
                <div class="inner">
                    <div class="footer">
                        <span>
                            © 2013 kenshin&nbsp;<span class="snow">|</span>
                            theme based on <a href="http://www.v2ex.com" class="dark" target="_blank">v2ex</a> & <a href="http://lucifr.com" class="dark" target="_blank">lucifr&nbsp;</a><span class="snow">|</span> 
                            code name <a href="https://github.com/kenshin/asgard" class="dark" target="_blank">asgard</a> ver 1.1.6
                        </span>
                    </div>
                </div>
            </div>
        </div>