<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        
        <!--- head -->
        <% include head.html %>
        
        <title>AsGard -- 基于Node.js的开源、小型、多人日志系统</title>

    </head>
    
    <body>
        
        <div id="Wrapper">
            
            <div class="content">

                <div id="Rightbar">
                    
                    <div class="sep70"></div>
                    
                    <div class="box" id="TopicsHot">
                        
                        <div class="cell">
                            <span class="fade">
                                分类
                            </span>
                        </div>
                        
                        <% categories.forEach( function( category ) { %>
                            <div class="cell">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td width="auto" valign="middle">
                                            <span class="item_hot_topic_title">
                                                <a href="/category/<%- category.catename %>">
                                                   <%- category.alias  %>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <% }) %>
                       
                        <!-- 模板 -->
                        <!--
                        <div class="cell">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td width="auto" valign="middle">
                                        <span class="item_hot_topic_title">
                                            <a href="/t/57554">
                                                如何判断一个数字是1开头？
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        -->

                    </div>
                    
                    <div class="sep20"></div>

                    <form action="/search" method="post">
                        <input type="text" name="key" size="20" class="search" >
                        <input type="submit" value="站内查询 ›" class="super normal button search_submit" >
                    </form>

                </div>

                <div id="Main">
                    
                    <div class="sep20"></div>
                    
                    <div class="box detail_box_radius">
                        
                        <%
                            if ( state == 'index' ) {
                        %>
                            <div class="nav headline"> 
                                <a href="/"><strong>AsGard -- 基于Node.js的开源、小型、多人日志系统</strong></a> 
                            </div>
                        <%
                            }
                            else if ( state == 'category' ) {
                        %>
                            <div class="nav nav_1">
                                
                                <a href="/"><strong>首页</strong></a>
    
                                <span class="chevron">&nbsp;›&nbsp;</span>
                                
                                <a href="/category/<%- contents[0].catealias %>">
                                    <strong><%- contents[0].catealias %></strong>
                                </a>
                            
                            </div>
                        <%
                            }
                            else if ( state == 'operator' ) {
                        %>
                            <div class="nav nav_1">
                                
                                <a href="/"><strong>首页</strong></a>
    
                                <span class="chevron">&nbsp;›&nbsp;</span>
                                
                                <a href="/category/<%- contents[0].username %>">
                                    <strong><%- contents[0].username %></strong>
                                </a>
                            
                            </div>
                        <%
                            }
                            else if ( state == 'search' ) {
                        %>
                            <div class="nav nav_1">
                                
                                <a href="/"><strong>首页</strong></a>
    
                                <span class="chevron">&nbsp;›&nbsp;查询结果</span>
                            
                            </div>
                        <%
                            }
                        %>
                        
                        <div class="sep10 wrapper"></div>
                        
                        <% contents.forEach( function( content ) { %>
                            <div class="cell item" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td width="auto" valign="middle">
                                            <span class="item_title">
                                                <a href="/t/<%- content.url %>">
                                                    <%- content.title %>
                                                </a>
                                            </span>
                                            <div class="sep5">
                                            </div>
                                            <span class="small fade">
                                                <a class="node" href="/category/<%- content.catename %>">
                                                    <%- content.catealias %>
                                                </a>
                                                &nbsp;•&nbsp;
                                                <strong>
                                                    <a href="/member/<%- content.username %>">
                                                        <%- content.username %>
                                                    </a>
                                                </strong>
                                            </span>
                                        </td>
                                        <td width="50" align="right" valign="middle">
                                            <a href="/t/<%- content.url %>" class="count_livid">
                                                more
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <% }) %>

                        <div class="inner">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <%
                                            var prefix = null;
                                            if ( state == 'index' )         prefix = '/index/';
                                            else if ( state == 'category' ) prefix = '/category/' + contents[0].catename + '/'
                                            else if ( state == 'operator' ) prefix = '/member/' + contents[0].username + '/'
                                            else if ( state == 'search' )   prefix = '/search/'
                                        %>
                                        
                                        <% if ( pv.isprevious ) { %>
                                            <td width="120" align="left"><input type="button" onclick="location.href = '<%- prefix + pv.previous %>'" value="‹ 上一页" class="super normal button"></td>
                                        <% } else { %>
                                            <td width="120" align="left"></td>
                                        <% } %>
                                        <td width="auto" align="center"><strong class="fade"><%- pv.page %>/<%- pv.lastpage %></strong></td>
                                        <% if ( pv.isnext ) { %>
                                            <td width="120" align="right"><input type="button" onclick="location.href = '<%- prefix + pv.next %>';" value="下一页 ›" class="super normal button"></td>
                                        <% } else { %>
                                            <td width="120" align="right"></td>
                                        <% } %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 模板 -->
                        <!--
                        <div class="cell item" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td width="auto" valign="middle">
                                        <span class="item_title">
                                            <a href="/t/57611#reply20">
                                                今天DigitalOcean宣布云主机内存翻倍，硬盘改为SSD，价格不变。
                                            </a>
                                        </span>
                                        <div class="sep5">
                                        </div>
                                        <span class="small fade">
                                            <a class="node" href="/go/cloud">
                                                云计算
                                            </a>
                                            &nbsp;•&nbsp;
                                            <strong>
                                                <a href="/member/da_a">
                                                    da_a
                                                </a>
                                            </strong>
                                        </span>
                                    </td>
                                    <td width="50" align="right" valign="middle">
                                        <a href="/t/57611#reply20" class="count_livid">
                                            more
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        -->
                        
                    </div>
                    
                </div>

            </div>
            
            <div class="c"></div>
            <div class="sep20"></div>
            
        </div>
            
        <!--- footer -->
        <% include footer.html %>

    </body>

</html>