<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- common js -->
    <script src="/comm/jquery-1.7.2.min.js"></script>

    <!-- bootstrap -->
    <script src="/back-end/bootstrap/js/application.js"></script>
    <script src="/back-end/bootstrap/js/bootstrap-dropdown.js"></script>
    <link href="/back-end/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/back-end/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/back-end/bootstrap/css/docs.css" rel="stylesheet" />

    <!-- redactor -->
    <script src="/back-end/redactor/redactor.min.js"></script>
    <link href="/back-end/redactor/css/redactor.css" rel="stylesheet" />

    <!-- validation -->
    <script src="/back-end/validation/js/jquery.validationEngine.js"></script>
    <script src="/back-end/validation/js/jquery.validationEngine-zh_CN.js"></script>
    <link href="/back-end/validation/css/validationEngine.jquery.css" rel="stylesheet" />
   
    <!-- common css -->
    <link href="/back-end/css/common.css" rel="stylesheet"/>
    <!-- dashboard css -->
    <link href="/back-end/css/content.css" rel="stylesheet"/>

    <title>AsGard -- 基于Node.js的开源、小型、多人日志系统</title>

    <script>

      $( document ).ready( function() {
        //redactor
        $( '#content' ).redactor({ css: 'wym.css', lang : 'zh_cn' });

        //validation
        $( "#form" ).validationEngine();
      });

      /**
      * refresh
      */
      function refresh() {
        $( '#url' ).val( $('orgurl').val() );
        $( '#title' ).val( '' );
        $( '#pic' ).val( '' );
        $( '#content' ).setCode( '' );
      }

      /**
      * change category
      */
      function changeCategory( name, alias ) {
        $( '#categoryCmb' ).html( '-- ' + alias + ' -- ' + '<span class="caret"></span>' );
        $( '#catename' ).val( name );
        $( '#catealias' ).val( alias );
      }

      /**
      * verify submit
      * 验证的逻辑：
      * 1、判断当前url是否有修改，如有修改的话，调用get方法，验证是否重复，如果重复，提示重新修改url
      * 2、判断当前url是否有修改，如有修改的话，调用get方法，验证是否重复，如无重复，触发click事件
      * 3、判断当前url是否有修改，如无修改的话，                               触发click事件
      */
      function verifysubmit() {
        if ( $( '#orgurl' ).val() == $( '#url').val() ) {
          $( '#submit' ).trigger( 'click' );
        }
        else {
          $.get( '/dashboard/content/checkunique/' + $( '#url' ).val(), function( result ) {
            if ( result == 'success' ) {
              $( '#submit' ).trigger( 'click' );
            }
            else {
              $( '#url' ).removeClass();
              $( '#url' ).addClass( 'input url' );
              $( '#url' ).validationEngine( 'showPrompt', '输入的内容重复', 'topLeft' )
            }
          })
        }
      }

      /**
      * add verify
      */
      function addvalidate() {
        $( '#url' ).validationEngine( 'hide' );
        $( '#url' ).addClass( 'validate[custom[onlyLetterNumber]]' );
      }

    </script>

  </head>

  <body>

    <section class="header">
      <div class="logo">
        <span class="title">ASGARD</span>
        <span class="sub-title">（后台管理）</span>
        <span class="nav-title"><%- type == 'edit' ? '内容修改' : '创建新内容' %></span>
      </div>
    </section>

    <section class="navbar">

      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">Asgard</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/dashboard">内容管理</a></li>
              <li class="divider-vertical-2"> › </li>
              <li class="active"><a href="javascrpit:void(0)"><%- type == 'edit' ? '内容修改' : '创建新内容' %></a></li>
            </ul>
          </div>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">你好， <%- member.alias %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">账户设置</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="/signout">安全退出</a></li>
          </ul>

        </div>
      </div>
      
    </section>

    <section class="contents">

      <form 
        id="form" 
        method="post" 
        action="<%- type == 'edit' ? '/dashboard/content/save/' + content.uid : '/dashboard/content/add' %>"
      >

        <input id="catename"  type="hidden" name="catename"  value="<%- content.catename  == '' ? categories[0].catename : content.catename %>">
        <input id="catealias" type="hidden" name="catealias" value="<%- content.catealias == '' ? categories[0].alias    : content.catealias %>">
        <input id="orgurl"    type="hidden"                  value="<%- content.url == null ? content.uid : content.url %>">
        <button id="submit"   style="display:none;"></button>

        <table>
          <tbody>

            <tr>
              <td>
                <div class="btn-toolbar">

                  <input 
                    id="url" 
                    type="text" 
                    name="url" 
                    class="input url validate[custom[onlyLetterNumber]]" data-prompt-position="centerRight:-200" 
                    placeholder="自定义URL，只能输入数字和字母（不区分大小写 可以留空）"
                    value="<%- content.url == null ? content.uid : content.url %>" 
                    onclick="addvalidate()">

                  <div class="btn-group">
                    <button 
                      id="categoryCmb" 
                      class="btn btn-success dropdown-toggle categories" 
                      data-toggle="dropdown">
                      -- <%- content.catealias == '' ? categories[0].alias : content.catealias %> --
                      <span class="caret"></span>
                    </button>
                    <% if ( categories != null && categories.length > 0 ) { %>
                        <ul class="dropdown-menu">
                        <% categories.forEach( function( category ) { %>
                            <li>
                              <a 
                                href="#" 
                                name="<%- category.catename %>" 
                                onclick="changeCategory( '<%- category.catename %>', '<%- category.alias %>' )">
                                <%- category.alias %>
                              </a>
                            </li>
                        <%  }) %>
                        </ul>
                    <% } else { %>
                        <ul class="dropdown-menu">
                          <li><a href="#">暂无</a></li>
                        </ul>
                    <% } %>
                  </div>

                </div>
              </td>
            </tr>

            <tr>
              <td>
                <input 
                  id="title" 
                  type="text" 
                  name="title" 
                  class="input validate[required]" data-prompt-position="centerRight:-200" 
                  placeholder="标题，能输入任何内容（不能为空）"
                  value="<%- content.title %>">
              </td>
            </tr>

            <tr>
              <td>
                <input 
                  id="pic" 
                  type="text" 
                  name="pic" 
                  class="input validate[custom[url]]" data-prompt-position="centerRight:-200" 
                  placeholder="图片地址，只能输入合法的地址，如：http://www.k-zone.cn/images/index.jpg（可以留空）"
                  value="<%- content.pic %>">
              </td>
            </tr>

            <tr>
              <td>
                <textarea id="content" type="text" name="content" class="input content-width" placeholder="内容"><%- content.content %></textarea>
              </td>
            </tr>
           
            <tr>
              <td>
                <button type="button" class="btn btn-primary btn-large btn-width" onclick="verifysubmit()"><i class="icon-ok icon-white"></i><%- type == 'edit' ? '　修　改　' : '　创　建　' %></button>
                <a class="btn btn-inverse btn-large a-width" onclick="refresh()"><i class="icon-refresh icon-white"></i>　重　置　</a>
                <a class="btn btn-danger  btn-large btn-width a-width" href="/dashboard/content/cancel"><i class="icon-remove icon-white"></i>　取　消　</a>
              </td>
            </tr>

          </tbody>
        </table>
      </form>
      
    </section>

    <!--- footer -->
    <%- partial( "footer" ) %>

  </body>

</html>
