<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
    
		<link rel="shortcut icon" href="/favicon.ico" />

		<script src="/comm/jquery-1.7.2.min.js"></script>

		<!-- bootstrap -->
    	<script src="/back-end/bootstrap/js/bootstrap-dropdown.js"></script>
		<link href="/back-end/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/back-end/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />

		<!-- validation -->
		<script src="/back-end/validation/js/jquery.validationEngine.js"></script>
		<script src="/back-end/validation/js/jquery.validationEngine-zh_CN.js"></script>
		<link href="/back-end/validation/css/validationEngine.jquery.css" rel="stylesheet" />
		
	    <!-- common css -->
	    <link href="/back-end/css/common.css" rel="stylesheet"/>
		<!-- signin -->
		<link href="/back-end/css/setup.css" rel="stylesheet"/>

		<title>AsGard -- 基于Node.js的开源、小型、多人日志系统</title>

		<script>

			$( document ).ready( function() {

				//validation
				$( "#form" ).validationEngine();

			});

	      /**
	      * verifysubmit
	      */
	      function verifysubmit() {
	        if ( $( '#form' ).validationEngine('validate') == true ) {
	            if ( $( '#password' ).val() != $( '#repsd' ).val() ) {
	              $( '#repsd' ).removeClass();
	              $( '#repsd' ).addClass( 'input' );
	              $( '#repsd' ).validationEngine( 'showPrompt', '两次输入不一致', 'topLeft' );
	             }
	             else {
	              $( '#submit' ).trigger( 'click' );
	             }
	        }
	      }

	      /**
	      * add verify
	      */
	      function addRepsdValidate() {
	        $( '#repsd' ).validationEngine( 'hide' );
	        $( '#repsd' ).addClass( 'validate[required]' );
	      }

		</script>

	</head>

	<body>

		<section class="header">
			<div class="logo">
				<span class="title">ASGARD</span>
				<span class="sub-title">（后台管理）</span>
				<span class="nav-title">设定管理员</span>
			</div>
		</section>

		<section class="contents">

	        <form id="form" method="post" action="/setup">

                  <div class="hidden">
                    <input type="hidden" name="role"  value="admin">
                    <button id="submit" class="btn btn-primary" style="display:none;"></button>
                  </div>

	              <table>

	                <tbody>

	                  <tr>
	                    <td>

	                      <div class="btn-toolbar">

	                        <input 
	                          id="username" 
	                          type="text" 
	                          name="username" 
	                          class="input short-width validate[required, custom[onlyLetterNumber]]" data-prompt-position="centerRight:-200" 
	                          placeholder="管理员名，只能是数字和字母（不能为空）">

	                        <div class="btn-group"> 
	                          <button class="btn btn-success dropdown-toggle dropdown-height" data-toggle="dropdown"> 
	                            -- 管理员 -- 
	                            <span class="caret"></span> 
	                          </button> 
	                          <ul class="dropdown-menu"> 
	                            <li><a href="javascript:void(0)">管理员</a></li> 
	                          </ul>
	                        </div>

	                      </div>
	                    </td>
	                  </tr>

	                  <tr>
	                    <td>
	                      <input 
	                        id="password" 
	                        type="password" 
	                        name="password" 
	                        class="input validate[required]" data-prompt-position="centerRight:-200" 
	                        placeholder="管理员密码（切勿遗失），可以是任何内容（不能为空）"
	                    </td>
	                  </tr>

	                  <tr>
	                    <td>
	                      <input 
	                        id="repsd" 
	                        type="password" 
	                        name="repsd" 
	                        class="input validate[required]" data-prompt-position="centerRight:-200" 
	                        placeholder="请再次输入密码（不能为空）"
	                        onclick="addRepsdValidate()">
	                    </td>
	                  </tr>

	                  <tr>
	                    <td>
	                      <input 
	                        id="alias" 
	                        type="text" 
	                        name="alias" 
	                        class="input validate[required]" data-prompt-position="centerRight:-200" 
	                        placeholder="管理员别名，可以是任何内容（不能为空）">
	                    </td>
	                  </tr>

	                  <tr>
	                    <td>
	                      <input 
	                        id="email" 
	                        type="text" 
	                        name="email" 
	                        class="input validate[required, custom[email]]" data-prompt-position="centerRight:-200" 
	                        placeholder="邮箱，只能输入合法的邮箱，如：aaa@bbb.ccc（不能为空）">
	                    </td>
	                  </tr>

	                </tbody>

	              </table>

	            <button id="btnModal" type="button" class="btn btn-primary btn-signup" onclick="verifysubmit()">　注　册　</button>

	        </form>

		</section>

    <!--- footer -->
    <%- partial( "footer" ) %>

	</body>

</html>
